<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Conversor</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<nav>
  <h2>Conversor</h2>
</nav>

<body class="textArea">
  <form action="/" method="post">
    <div class="textArea">

    <div class="textArea1">

    <h3>Texto</h3>

      <textarea name="textToConvert" rows="15" cols="140" placeholder="Insira o texto aqui"></textarea>

    <button class="myButton" type="submit">Converter</button>
  </div>

  <div class="textArea2">

    <h3>Texto Convertido</h3>

      <textarea name="outPut" cols="140" rows="15" wrap="on" readonly>
      <% item.forEach(function(item){ %>
          <%- item %>
        <% }); %>
        <% endereco.forEach(function(endereco){ %>
            <%- endereco %>
          <% }); %>
      </textarea>
    </div>

  </div>
    </form>
</body>
</html>
